<h2 class="h1 my-2">Reservations :</h2>
<hr />

<div *ngIf="Reservations.length == 0" class="alert alert-danger text-center">There are no reservations at the moment</div>

<div *ngIf="Reservations.length != 0 ">
  <div *ngFor="let Reservation of Reservations">
    <div class="mb-5">
      <mat-card style="max-width: 400px" class="m-auto  shadow">
        <mat-card-header>
          <div mat-card-avatar style="overflow: hidden">
            <img
              class="w-100 h-100"
              [src]=" Reservation.patient?.photoName"
              [alt]="Reservation.patient?.fullName"
            />
          </div>
          <mat-card-title>
            <div>
              <p>{{ Reservation.patient?.fullName }}</p>
              <p style="font-size: 10px;">{{Reservation.date}}</p>
            </div>
          </mat-card-title>
          <mat-card-subtitle>

          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p style="text-align: center;" class="pt-3">
            {{Reservation.patient?.fullName}} wants to book on {{ Reservation.day }} from  {{ Reservation.from }} to {{ Reservation.to }}

          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="bg-success text-white" (click)="ConfirmReservation(Reservation.patientId)">Confirm</button>
          <button mat-button class="bg-danger text-white" (click)="RefuseReservation(Reservation.patientId)">Refuse</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
