<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(../../../assets/images/banner/login-page-img.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section  " style="background-image: linear-gradient(to right,#fff,#E5ECF3,#E5ECF3,#6691C5)!important; ">
      <div class="form-section" >
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Sign Up </h2>
          <p class="auth-signup-text text-muted">Enter details to create your account</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)">
            <div>
              <div class="mb-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('firstName')?.hasError('required')">
                    First Name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="mb-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('lastName')?.hasError('required')">
                    Last Name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div>
              <div class="mb-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input (keyup)="clear()" matInput formControlName="email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email')?.hasError('required') || authForm.get('email')?.touched">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
                <mat-error *ngIf="error">
                  {{error}}
                </mat-error>
              </div>
            </div>
            <div>
              <div class="mb-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('password')?.hasError('required')">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="authForm.get('password')?.hasError('minlength')"
                  >
                  minlength is 6
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div>
              <div>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="chide = !chide">
                    {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('cpassword')?.hasError('required')">
                    Confirm Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="authForm.get('cpassword')?.hasError('minlength')"
                  >
                  minlength is 6
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-error *ngIf="authForm.errors?.['passwordsDontMatch']">
                Passwords should match
              </mat-error>
            </div>
            <div class="flex-sb-m w-full  p-b-20 mb-4">
              <div>
                <span>Already Registered? <a routerLink="/signin">
                    Login
                  </a></span>
              </div>
            </div>
            <div class="container-auth-form-btn">
              <div style="text-align: center">
                <button
                  mat-raised-button
                  color="primary"
                  [class.auth-spinner]="loading"
                  [disabled]="loading || authForm.invalid"
                  class="auth-form-btn"
                  type="submit"
                >
                Register
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
