<div class="containe">
  <div class="content">
    <h2 class="color-white-shadow text-center">403 Forbidden<br><small>Access denied</small></h2>
    <img src="https://images.unsplash.com/photo-1506202687253-52e1b29d3527?ixlib=rb-0.3.5&s=b43d68ed98b673427669234757d85e56&auto=format&fit=crop&w=300&q=80" width="300" height="140" class="mask">
    <p class="color-white-shadow text-center">You are not allowed to access this account<br>Because it's in private mode.</p>
    <div style="text-align: center;"><button class="btn btn-outline-info" (click)="navigate()">back to home</button></div>
  </div>
</div>

