<h2 class="h1 my-2">Sections :</h2>
<hr />

<button
  mat-raised-button
  color="primary"
  data-bs-toggle="modal"
  data-bs-target="#AddSection"
>
  Add
</button>

<div class="mt-5">
  <div class="row">
    <div *ngFor="let section of sections" class="col-sm-3">
      <div class="mb-2 shadow">
        <div class="card">
          <img
            style="height: 200px"
            [src]=" section.photoName"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2
              class="h1 card-text"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div>{{ section.name }}</div>
              <div style="font-size: 16px">
                <span class="iconify" data-icon="mdi:doctor"></span>
                {{ section.doctors.length }}
              </div>
            </h2>
          </div>
          <div class="op py-2">
            <button
              data-bs-toggle="modal"
              data-bs-target="#EditSection"
              (click)="AccessDataEdit(section)"
              mat-raised-button
              class="bg-warning"
            >
              Edit <span class="iconify" data-icon="akar-icons:edit"></span>
            </button>
            <button
              data-bs-toggle="modal"
              data-bs-target="#DeleteSection"
              (click)="AccessData(section)"
              mat-raised-button
              class="bg-danger ms-1"
            >
              Delete
              <span
                class="iconify"
                data-icon="fluent:delete-dismiss-28-regular"
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="sections?.length == 0" class="text-center alert alert-danger">
  There are no sections at the moment
</div>

<!-- Add Section -->
<div
  class="modal fade"
  id="AddSection"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Section !!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AddSectionForm" (ngSubmit)="AddSection()">
          <div>
            <div class="mb-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required />
                <mat-icon matSuffix
                  ><span
                    class="iconify"
                    data-icon="openmoji:european-name-badge"
                  ></span
                ></mat-icon>
                <mat-error
                  *ngIf="AddSectionForm.get('name')?.hasError('required')"
                >
                  Name is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div>
            <div class="mb-2">
              <label for="Photo">Photo</label>
              <input
                id="Photo"
                class="form-control"
                type="file"
                (change)="uploadPhoto($event)"
              />
            </div>
          </div>

          <button
            mat-raised-button
            class="bg-success text-white"
            [disabled]="AddSectionForm.invalid"
          >
            Add
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Section -->
<div
  class="modal fade"
  id="EditSection"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Section !!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="DeleteAndEditSectionForm" (ngSubmit)="EDitSection()">
          <div>
            <div class="mb-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required />
                <mat-icon matSuffix
                  ><span
                    class="iconify"
                    data-icon="openmoji:european-name-badge"
                  ></span
                ></mat-icon>
                <mat-error
                  *ngIf="AddSectionForm.get('name')?.hasError('required')"
                >
                  Name is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div>
            <div class="mb-2">
              <label for="Photo">Photo</label>
              <input
                id="Photo"
                class="form-control"
                type="file"
                (change)="uploadPhoto($event)"
              />
            </div>
          </div>

          <button
            mat-raised-button
            class="bg-warning text-white"
            data-bs-dismiss="modal"
            [disabled]="DeleteAndEditSectionForm.invalid"
          >
            Edit
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Section -->
<div
  class="modal fade"
  id="DeleteSection"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Section !!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-footer">
        <form
          [formGroup]="DeleteAndEditSectionForm"
          (ngSubmit)="DeleteSection()"
        >
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            mat-raised-button
            class="bg-danger text-white ms-2"
            data-bs-dismiss="modal"
          >
            Delete
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
