<h2 class="h1 my-2">Posts :</h2>
<hr />

<div *ngFor="let post of posts">
  <div class="mb-5">
    <mat-card style="max-width: 400px" class="m-auto  shadow">
      <mat-card-header>
        <div mat-card-avatar style="overflow: hidden">
          <img
            class="w-100 h-100"
            [src]="imgPrefix + post.doctor.photoName"
            [alt]="post.doctor.fullName"
          />
        </div>
        <mat-card-title>
          <div style="display: flex; justify-content: space-between">
            <p>{{ post.doctor.fullName }}</p>
            <div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#DeletePost"
                data-bs-dismiss="modal"
                (click)="DeletedData(post)"
                class="btn pt-0"
              >
                <span
                  class="iconify"
                  data-icon="fluent:delete-dismiss-28-filled"
                ></span>
              </button>
            </div>
          </div>
        </mat-card-title>
        <mat-card-subtitle
          >{{ post.date | date: "long" }}<br />
          {{ post.topic }}</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        [src]="imgPrefix + post.photoName"
        [alt]="post.catpion"
      />
      <mat-card-content>
        <p>
          {{ post.catpion }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- DeletePost -->
<div
  class="modal fade"
  id="DeletePost"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete post !!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="DeletePostFrom" (ngSubmit)="Delete()">
          <p style="color: red">Delete Post !!</p>
          <input hidden formControlName="id" type="text" />
          <input hidden formControlName="topic" type="text" />
          <input hidden formControlName="catpion" type="text" />
          <input hidden formControlName="photoName" type="text" />
          <input hidden formControlName="doctorId" type="text" />
          <button data-bs-dismiss="modal" class="btn btn-outline-danger">
            Delete
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
