<h2 class="h1 my-2">Accepted Reservation :</h2>
<hr />

<div *ngIf="AcceptedReservations.length == 0" class="alert alert-danger text-center">There are no accepted reservations at the moment</div>

<div *ngIf="AcceptedReservations.length != 0 ">
  <div *ngFor="let Reservation of AcceptedReservations">
    <div class="mb-5">
      <mat-card style="max-width: 400px" class="m-auto  shadow">
        <mat-card-header>
          <div mat-card-avatar style="overflow: hidden">
            <img
              class="w-100 h-100"
              [src]=" Reservation.doctor?.photoName"
              [alt]="Reservation.patient?.fullName"
            />
          </div>
          <mat-card-title>
            <div>
              <p>{{ Reservation.doctor?.fullName }}</p>
            </div>
          </mat-card-title>
          <mat-card-subtitle>

          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p style="text-align: center;" class="pt-3">
            There is a medical examination for you on {{ Reservation.day }} from {{ Reservation.from }} to {{ Reservation.to }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
