<div>
  <div class="row list">
    <div class="col-sm-2">
      <a
        class="list-item rounded px-2 mb-1 mb-sm-0"
        style="text-decoration: none"
        routerLink="doctorposts"
        routerLinkActive="active"
      >
        <span class="px-2 label">My Posts</span>
        <span class="iconify icon" data-icon="ic:outline-perm-media"></span>
        <!-- <span class="px-2 label">Requests</span>  <span class="iconify icon" ></span> -->
      </a>
    </div>

    <div class="col-sm-2">
      <a
        class="list-item rounded px-2 mb-1 mb-sm-0"
        style="text-decoration: none"
        routerLink="doctorposts"
        routerLinkActive="active"
      >
        <span class="px-2 label" style="font-size: 17px !important;">Reservations</span>
        <span class="iconify icon" data-icon="healthicons:i-schedule-school-date-time"></span>
        <!-- <span class="px-2 label">Requests</span>  <span class="iconify icon" ></span> -->
      </a>
    </div>


  </div>
</div>
<div class="mt-sm-5">
  <div [@routing]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
