


table th {
  border-bottom: 2px solid #E95420 !important;
}

.header{
  text-align: center !important;
  border-bottom: 4px solid #E95420 !important;
  border-right: 4px solid #E95420 !important;
  border-left: 4px solid #E95420 !important;
  /* background-color: #333 !important; */
  color:rgb(2, 2, 2) !important;
  font-weight:bolder !important;
  font-size:1.4rem !important;
  border-radius: 10px !important;



}
