<mat-toolbar color="primary">
  <a>DocPro <img src="../../assets/images/pages/heart-rate.png" width="25" height="25" alt=""></a>
  <ng-container >
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img width="30" height="30" class="rounded-circle"
        [src]="imgPrefix+user.PhotoName" />
        <span class="px-2">{{user.FullName}}</span>
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logOut()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>




<p class="d-none d-sm-block">dashboard works!</p>


<router-outlet></router-outlet>
